<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Store Application</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>com.andersen.controllers.ClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.andersen.controllers.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartPage</servlet-name>
        <servlet-class>com.andersen.controllers.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateClient</servlet-name>
        <servlet-class>com.andersen.controllers.CreateClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindClient</servlet-name>
        <servlet-class>com.andersen.controllers.FindClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAllClients</servlet-name>
        <servlet-class>com.andersen.controllers.FindAllClientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClient</servlet-name>
        <servlet-class>com.andersen.controllers.UpdateClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClient</servlet-name>
        <servlet-class>com.andersen.controllers.DeleteClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>com.andersen.controllers.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindProduct</servlet-name>
        <servlet-class>com.andersen.controllers.FindProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAllProducts</servlet-name>
        <servlet-class>com.andersen.controllers.FindAllProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>com.andersen.controllers.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>com.andersen.controllers.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCart</servlet-name>
        <servlet-class>com.andersen.controllers.CreateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatedCart</servlet-name>
        <servlet-class>com.andersen.controllers.CreatedCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCart</servlet-name>
        <servlet-class>com.andersen.controllers.FindCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAllCarts</servlet-name>
        <servlet-class>com.andersen.controllers.FindAllCartsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>com.andersen.controllers.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatedCart</servlet-name>
        <servlet-class>com.andersen.controllers.UpdatedCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>com.andersen.controllers.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartPage</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateClient</servlet-name>
        <url-pattern>/createClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindClient</servlet-name>
        <url-pattern>/findClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAllClients</servlet-name>
        <url-pattern>/findAllClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClient</servlet-name>
        <url-pattern>/updateClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClient</servlet-name>
        <url-pattern>/deleteClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/createProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindProduct</servlet-name>
        <url-pattern>/findProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAllProducts</servlet-name>
        <url-pattern>/findAllProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCart</servlet-name>
        <url-pattern>/createCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatedCart</servlet-name>
        <url-pattern>/newCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCart</servlet-name>
        <url-pattern>/findCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAllCarts</servlet-name>
        <url-pattern>/findAllCarts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatedCart</servlet-name>
        <url-pattern>/updatedCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>